@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  /* Definimos los colores de marca */
  --color-emerald-700: #15803d;
  --color-emerald-800: #166534;
  --color-gold-500: #D4AF37;

  --font-stolen: "var(--font-stolenLove)", serif;
  --font-sans: "var(--font-inter)", sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #111827;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-stolen);
  -webkit-font-smoothing: antialiased;
}

.prose h1, .prose h2, .prose h3 {
  font-family: var(--font-stolen);
  color: #111827 !important;
}

.prose strong {
  color: #111827 !important;
  font-weight: 700;
}

.prose em {
  font-style: italic;
}