@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  /* Definimos los colores de marca */
  --color-emerald-700: #15803d;
  --color-emerald-800: #166534;
  --color-gold-500: #D4AF37;

  --font-stolen: var(--font-stolenLove);
  --font-merriweather: var(--font-merriweather), serif;
}

:root {
  --background: #ffffff;
  --foreground: #111827;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-merriweather) !important;
  -webkit-font-smoothing: antialiased;
}
